apiVersion: diagnosis.netease.com/v1
kind: Diagnosis
metadata:
  name: go-profiler
spec:
  source: Custom
  profilers:
  - name: go-profiler
    type: InformationCollector
    go:
      source: https://10.0.2.15:6443
      type: Heap
      tls:
        secretReference:
          name: <secret-name>
          namespace: <secret-namespace>
    timeoutSeconds: 60
    expirationSeconds: 300
  nodeName: my-node
