
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: operationsets.diagnosis.kubediag.org
spec:
  additionalPrinterColumns:
  - JSONPath: .status.ready
    name: Ready
    type: boolean
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: diagnosis.kubediag.org
  names:
    kind: OperationSet
    listKind: OperationSetList
    plural: operationsets
    singular: operationset
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: OperationSet is the Schema for the operationsets API.
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: OperationSetSpec defines the desired state of OperationSet.
          properties:
            adjacencyList:
              description: AdjacencyList contains all nodes in the directed acyclic
                graph. The first node in the list represents the start of a diagnosis.
              items:
                description: Node is a node in the directed acyclic graph. It contains
                  details of the operation.
                properties:
                  dependences:
                    description: Dependences is the list of depended node ids.
                    items:
                      type: integer
                    type: array
                  id:
                    description: ID is the unique identifier of the node. It is identical
                      to node index in adjacency list and set by admission webhook
                      server.
                    type: integer
                  operation:
                    description: Operation is the name of operation running on the
                      node. It is empty if the node is the first in the list.
                    type: string
                  to:
                    description: To is the list of node ids this node links to.
                    items:
                      type: integer
                    type: array
                type: object
              type: array
          required:
          - adjacencyList
          type: object
        status:
          description: OperationSetStatus defines the observed state of OperationSet.
          properties:
            paths:
              description: Paths is the collection of all directed paths of the directed
                acyclic graph.
              items:
                description: Path represents a linear ordering of nodes along the
                  direction of every directed edge.
                items:
                  description: Node is a node in the directed acyclic graph. It contains
                    details of the operation.
                  properties:
                    dependences:
                      description: Dependences is the list of depended node ids.
                      items:
                        type: integer
                      type: array
                    id:
                      description: ID is the unique identifier of the node. It is
                        identical to node index in adjacency list and set by admission
                        webhook server.
                      type: integer
                    operation:
                      description: Operation is the name of operation running on the
                        node. It is empty if the node is the first in the list.
                      type: string
                    to:
                      description: To is the list of node ids this node links to.
                      items:
                        type: integer
                      type: array
                  type: object
                type: array
              type: array
            ready:
              description: Specifies whether a valid directed acyclic graph can be
                generated via provided nodes.
              type: boolean
          required:
          - ready
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
